[include]
  path = ~/.gitconfig-work

[alias]
  aa           = add -A .
  br           = branch
  ca           = commit -S --amend
  cb           = checkout -b
  ci           = commit
  cm           = commit -m
  co           = checkout
  cs           = commit -S
  csm          = commit -S -m
  csa          = commit -S --amend
  deleted      = log --diff-filter=D --summary
  di           = diff
  dic          = diff --cached
  dicn         = diff --cached --name-only
  din          = diff --name-only
  dump         = cat-file -p
  hist         = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ms           = merge --squash
  pb           = pull --rebase
  po           = push origin
  por          = push origin HEAD:refs/for/$1
  pu           = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  st           = status
  type         =  cat-file -t

[color]
  diff         = auto
  status       = auto
  branch       = auto

[core]
  editor       = vim
  pager        = delta

[push]
  default      = current

[pull]
  rebase       = true

[filter "lfs"]
  clean        = git-lfs clean -- %f
  smudge       = git-lfs smudge -- %f
  required     = true
  process      = git-lfs filter-process

[commit]
	gpgsign      = true

[gpg]
	program      = gpg

[interactive]
  diffFilter   = delta --color-only

[delta]
  features               = line-numbers decorations
  whitespace-error-style = 22 reverse
  plus-style             = green bold ul "#198214"

[delta "decorations"]
  commit-decoration-style   = bold yellow box ul
  file-style                = bold yellow ul
  file-decoration-style     = none
